$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-bottom: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  background-color: #E4E4E4;
  border-top: 1px solid #e5e5e5;
  color: black;
  padding-top: 19px;

  .container {
    height: 290px;
  }

  .copyright-term-use {
    font-size: 0.7em;
    div {
      height: 20px !important;
    }
  }

  .util-links, .faq, .contact {
    margin-top: 10px;
    li {
      font-weight: bold;
      margin-top: 10px;
    }
  }

  .faq, .contact {
    li:not(:first-child) {
      font-weight: normal;
    }
  }

  h4 {
    font-weight: bold;
  }
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 1200px;
  }

  /* Remove the padding we set earlier */
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}

/* My styles */

* {
  font-family: proxima-nova, Arial, sans-serif;
}

.header {
  background-color: black;
  font-style: italic;
  padding-top: 15px;

  .btn-primary {
    background-color: white;
    border-color: inherit;
    color: black;
    font-style: normal;
    font-weight: bold;
  }
  .btn-info {
    background-color: gray;
    border-color: inherit;
    font-style: normal;
    font-weight: bold;
    margin-left: 20px;
  }
  .call-us {
    float: right;
  }
  .logo-label {
    margin-left: 15px;
  }
  .logo-links, .call-us {
    display: inline;
    font-style: normal;
    list-style-type: none;
    padding-left: 0;

    li {
      color: white;
      display: inline;
      margin-right: 10px;
    }
  }
  .header-util-information {
    margin-bottom: 15px;
  }
}

.join-us-label {
  color: white;
  font-style: normal;
  height: 30px;
  line-height: 30px;
  margin-right: 15px;
}

/* Remove padding from original .col bootstrap class */
.full-width {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.centered-label {
  text-align: center;
}

// .col-*
div.row > div {
  border: 1px solid #E4E4E4;
  height: 240px;

  &:not(:first-child) {
    border-left: 0;
  }
}

.user-name {
  font-family: "Helvetica Neue","Helvetica","Arial","sans-serif";
  font-size: 34px;
  line-height: 42px;
}

.user-main-information, .save-profile-section {
  background-color: #E4E4E4;
}

.save-profile-section {
  p {
    color: gray;
    font-size: 0.8em;
  }
  span {
    font-weight: normal;
  }
}

.label-action {
  border-radius: 0.8em;
}

.label-save-profile {
  background-color: black;

  span {
    font-size: 0.9em;
  }
}

.label-publish-profile {
  span {
    font-size: 0.9em;
  }
}

.upload-resume {
  bottom: 0;
  position: absolute;

  input {
    display: none;
  }
}

.portfolio-experience > div {
  border-bottom: 0 !important;
}

.input-wysiwyg {
  background-color: #E4E4E4;
  border: 1px solid #E4E4E4;
  width: 100%;

  &:hover {
    cursor: pointer;
    border: 1px solid #BABABA;
  }

  &:focus {
    background-color: white;
  }

  &.white {
    background-color: white;
    border-color: white;
  }
}

.angular-google-map-container {
  height: 238px;
  width: 100%;
}

.bold-label {
  font-weight: bold;
}

/* Skills */
.list-skills > span {
  color: white;
  margin: 0 7px 7px 0;
}

.basic-level {
  background-color: #A3A7Ab;
}

.intermediate-level {
  background-color: #67676B;
}

.advanced-level {
  background-color: black;
  color: white;
}

.select-skill-level {
  margin-left: 5px;
}

.skill-name {
  float: left;
  width: 30%;
}

.remove-skill {
  display: none;
  position: absolute;
  right: 0;
  top: 6px;
}

.single-skill {
  display: inline-block;
  font-size: 14px;
  height: 30px;
  line-height: 20px;
  position: relative;
}

.single-skill:hover > .remove-skill {
  display: inline;
}

/* FileInput */
.user-picture-input {
  background-color: white;
  display: none !important;
  margin: auto;
  width: 90%;
}

.user-picture-container {
  &:hover {
    background-color: black;
    .user-picture {
      display: none;
    }
    .user-picture-input {
       display: block !important;
     }
   }
}

.background-black-when-editing {
  &:hover {
    background-color: black;

    p {
      color: white;
    }
  }
}

.row p.text-center {
  font-size: 1.3em;
}

blockquote {
  border-left: 0;
  height: 70%;
  margin-top: 5px;

  &:before {
    color: #999;
    content: "“";
    display: block;
    font: italic 400%/1 sans-serif, serif, 'Times New Roman', Times;
    height: 0;
    left: 35px;
    margin-left: -37px;
    position: absolute;
    top: 50px;
  }

  &:after {
    bottom: 40px;
    color: #999;
    content: "”";
    display: block;
    font: italic 400%/1 sans-serif, serif, 'Times New Roman', Times;
    height: 0;
    position: absolute;
    right: 15px;
  }

  footer {
    float: right;
    font-size: 0.6em;
  }

  textarea {
    height: 100%;
    resize: none;
  }
}

p.text-center {
  font-weight: bold;
  margin-top: 10px;
}

footer.no-hyphen {
  &:before {
    content: '\00a0';
  }
}

.introduce-myself-label {
  font-size: 3em;
  font-weight: normal;
  margin: 22px 0 22px 0;
}

.fill-qa-form {
  background-color: #E4E4E4;
  height: 85px !important;
  padding-top: 20px;

  .total-answered {
    font-size: 0.7em;
  }

  span.label {
    background-color: white;
    border-radius: 20px;
    color: black;
    font-size: 1.7em;

    span {
      font-size: 0.65em;
    }
  }
}

.top-skills-label {
  font-size: 2em;
  font-weight: bold;
  margin: 22px 0 22px 0;
}
.top-skills-row {
  .col-md-3 {
    border: 0;
    height: 315px;
  }

  dd {
    &:hover {
      background-color: black;
      color: white;
      cursor: pointer;
    }
  }
}

.availability {
  border-bottom: 1px solid #E4E4E4;
  height: 50%;

  .ng-binding {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
  }
}

.preferred-environment {
  .ng-binding {
    padding: 0 20px 0 20px;
    text-align: center;
  }
}

.dl-horizontal dt {
  width: 10.125px;
}

.dl-horizontal dd {
  margin-left: 20px;
}

.join-toptal {
  background-color: black;
  height: 120px;
  font-size: 22px;

  .join-toptal-container {
    padding-top: 40px;
  }

  .first-sentence {
    color: gray;
  }

  .label-default {
    background-color: white;
    color: black;
    font-size: 28px;

    span {
      font-size: 22px;
    }
  }

  .second-sentence {
    color: white;
  }

  span.label {
    border-radius: 20px;
  }
}
