<div data-ng-controller="MainCtrl as main">
  <div class="row">
    <div class="col-md-3 full-width user-picture-container">
      <img class="user-picture" data-ng-src="{{main.user.image}}" alt="User's picture"><br>
      <div class="user-picture-input" id="name">
        <input type="file" file-input="files">
      </div>
    </div>
    <div class="col-md-6 user-main-information">
      <div>
        <input class="input-wysiwyg user-name" data-ng-model="main.user.name" placeholder="Add name" type="text">
      </div>
      <div>
        <input class="input-wysiwyg bold-label" ng-autocomplete data-ng-model="autocomplete" options="options" details="details" placeholder="Add location" type="text">
      </div>
      <div>
        <input class="input-wysiwyg bold-label" data-ng-model="main.user.language" placeholder="Add language" type="text">
      </div>
      <div class="list-skills">
        <span class="label label-primary single-skill" data-ng-class="skill.level" data-ng-repeat="skill in main.user.skills | skillsFilter">
          {{skill.name}}
          <span class="glyphicon glyphicon-remove remove-skill" data-ng-click="main.deleteSkill($index)" aria-hidden="true"></span>
        </span>
      </div>
      <div>
        <input class="input-wysiwyg bold-label skill-name" data-ng-model="main.skillName" placeholder="Add skill" type="text">

        <div class="skill-level" data-ng-show="main.shouldShowAddSkillButton()">
          <select class="select-skill-level" data-ng-model="main.skillLevel" data-ng-options="skillLevel.level for skillLevel in main.skillLevels"></select>
          <span class="glyphicon glyphicon-plus add-skill-button" data-ng-click="main.addSkill()" aria-hidden="true"></span>
        </div>
      </div>
    </div>
    <div class="col-md-3 save-profile-section">
      <h5>
        <span class="label label-default label-action label-save-profile">SAVE PROFILE</span>
        <span class="label label-default label-action">PUBLISH PROFILE</span>
      </h5>
      <p>(You can only publish a completed profile)</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <p class="text-center">Portfolio</p>
    </div>
    <div class="col-md-3">
      <p class="text-center">Experience</p>
    </div>
    <div class="col-md-3">
      <p class="text-center">Sample code and algorithms</p>
    </div>
    <div class="col-md-3 full-width">
      <div class="availability">
        <p class="text-center">Availability</p>
        <p>
          {{main.user.availability}}
        </p>
      </div>
      <div class="preferred-environment">
        <p class="text-center">Preferred environment</p>
        <p>
          {{main.user.preferredEnvironment}}
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3 background-black-when-editing">
      <p class="text-center">The most amazing...</p>
      <blockquote>
        <textarea class="input-wysiwyg white" data-ng-model="main.user.amazingProject"></textarea>
        <footer>{{main.user.firstName()}}</footer>
      </blockquote>
    </div>
    <div class="col-md-3 background-black-when-editing">
      <p class="text-center">In clients I look for...</p>
      <blockquote>
        <textarea class="input-wysiwyg white" data-ng-model="main.user.clients"></textarea>
        <footer>{{main.user.firstName()}}</footer>
      </blockquote>
    </div>
    <div class="col-md-3 full-width">
      <ui-gmap-google-map center='map.center' zoom='map.zoom'></ui-gmap-google-map>
    </div>
    <div class="col-md-3 background-black-when-editing">
      <p class="text-center">Note</p>
      <blockquote>
        <textarea class="input-wysiwyg white" data-ng-model="main.user.note.message"></textarea>
        <footer>{{main.user.note.from}}</footer>
      </blockquote>
    </div>
  </div>

  <div class="centered-label introduce-myself-label">
    Let me introduce myself...
  </div>

  <div class="row">
    <div class="col-md-3">
      content
    </div>
    <div class="col-md-3">
      content
    </div>
    <div class="col-md-3">
      <p class="text-center">The most amazing...</p>
    </div>
    <div class="col-md-3">
      content
    </div>
  </div>

  <div class="row">
    <div class="col-md-9 centered-label">
      To hire Martin join us as a <button type="button" class="btn btn-primary">Client</button>
    </div>
    <div class="col-md-3">
      or as a developer <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
    </div>
  </div>

  <div class="centered-label top-skills">
    Top skills on toptal
  </div>

  <div class="row">
    <div class="col-md-3">
      List 1
    </div>
    <div class="col-md-3">
      List 2
    </div>
    <div class="col-md-3">
      List 3
    </div>
    <div class="col-md-3">
      List 4
    </div>
  </div>

  <div class="centered-label">
    Join the toptal community. Apply to work with us as <button type="button" class="btn btn-primary">Developer</button> or <button type="button" class="btn btn-primary">Client</button>
  </div>
</div>
